// colors

$color-1: #1b2630; // Ebony
$color-2: #ffa200; // Corn
$color-3: #ebebeb; // Gallery
$color-4: #ffffff; // White

// fonts 

$primary-font: 'PT Sans', sans-serif;

$animation-duration: 0.5s;